@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Header animation*/
.text-center{
  text-align: center;
}
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    z-index: -1;
    overflow: hidden;
    padding: 0px;
    margin-top:0px;
}
.bg-bubbles li {
    overflow: hidden;
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 127, 80, .7);
    bottom: -160px;
    -webkit-animation: square 12s infinite;
    animation: square 12s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 127, 80, .7);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 127, 80, .7);
  }
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 127, 80, .7);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-200vh) rotate(600deg);
        transform: translateY(-200vh) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-200vh) rotate(600deg);
        transform: translateY(-200vh) rotate(600deg);
    }
}

/**/


html, body{
    height: 100%;
    margin:0px;
    padding: 0px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
}
body{
    font-family: 'Bangers', cursive, Verdana, Arial, sans-serif;
    color: #333;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
}

/*header*/
/* .smooth{
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
ul.nav.navbar-nav{
    display: none;
    position: fixed;
    list-style: none;
    z-index: 9;
    width: 100%;
    height: 100rem;
    margin-top:0px;
    top: 0px;
    text-align: center;
    padding: 0%;
    background: rgba(0,0,0,.9);
}
ul.nav.navbar-nav li{
    margin: 5%;
}
ul.nav.navbar-nav li a{
    /* font-family: 'Montserrat', Verdana; */
    color: #FF7F50;
    font-size: 3rem;
    text-decoration: none;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
#h-icon{
    position: fixed;
    top:10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 40px;
    height: 4px;
    background-color: rgba(0, 0, 0, .8);
    margin: 6px 0;
    transition: 0.4s;
    /* border-radius: 100%; */
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background: #fff;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background: #fff;
}
/* /header*/

.container-fluid{
    width: 100%;
    display:flex;
    justify-content: center;
}
#title-tag,
#title-message{
    font-weight: 100;
    font-size: 60px;
    color: #333;
}
#title-tag{
    display: inline-block;
    position: absolute;
    top: 40%;
    text-align: center;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}
#title-tag #title-message::before{
    content: '{';
    font-size: 60px;
    color: rgba(255, 127, 80, .7);
}
#title-tag #sub-message::after{
    content: '}';
    color: rgba(255, 127, 80, .7);
}
.about{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    padding-bottom:25px;
}
.about h3{
    font-weight: 100;
    color: #fff;
}
.about h2{
    display: inline-block;
    font-size: 38px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 10px;
}
.portifolio{
    width: 100%;
    display: block;
    text-align: center;
    font-family: Verdana;
    height: 80vh;
}
.portifolio h2{
    display: inline-block;
    font-size: 38px;
    font-weight: 100;
    color: #333;
    margin-bottom: 10px;
}
.section-subline{
    width: 80px;
    background: #FF7F50;
    border:none;
    margin-top: 10px;
    height: 2px;
}
.contact{
    width: 100%;
    display: block;
    text-align: center;
    font-family: Arial;
    height: 35rem;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    z-index: 5;
}
.contact h2{
    display: inline-block;
    font-size: 38px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 10px;
}
.form-contato{
    margin-top: 50px;
    /* padding-bottom: 50px; */
}
.form-contato input{
    padding: 10px 0px;
    width:100%;
    border:none;
    margin-top: 2%;
}
.form-contato textarea{
    margin-top: 2%;
    width: 100%;
    border: none;
    padding: 0px;
}
.form-contato textarea::placeholder{
    font-family: Arial;
}
#form-btn{
    border:none;
    padding: 15px 30px;
    background: #FF7F50;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    margin: 25px;
}
.btn-align{
    width:100%;
    text-align: center;
    /* padding-bottom: 50px; */
}
/**/
/**/
#sub-message{
    text-align: center;
    font-size:45px;
    color: #333;
}
section.header{
    z-index: -1;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    background: #fff;
	background-size: 400% 400%;
	/* -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite; */
}
section.header h1{
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#scrollDown{
  border-radius: 50%;
  background: #333;
  color: #fff;
  z-index: 9999;
  position:absolute;
  bottom:40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: 0px;
  transform: rotate(90deg);
}

.main-about{
    width: 90%;
    display: inline-block;
}
#description{
    margin-top: 3%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo{
    width: 30%;
    position: relative;
    height: 90% !important;
    /* nter; */
    transition: all 1s ease-in-out;
    /* max-height: 475px; */
    overflow: hidden;
}
.photo #leonardo-rodrigues-img{
    width: 100%;
    height: 100%;
    transition:all .5s ease-in-out;
    object-fit: cover;
}
.photo:hover{
    /* box-shadow: 0px 0px 50px #FF7F50; */
    transition:all 1s ease-in-out;
}
.photo:hover #leonardo-rodrigues-img{
    transform: scale(1.05);
}
.photo:hover .dark-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .3s ease-in-out;
}
.dark-filter{
    height: 100%;
    position:absolute;
    top:0px;
    width:100%;
    color: #fff;
    cursor:pointer;
    display: none;
    text-align: center;
    background: linear-gradient(to bottom,rgba(0, 0, 0, .2)1%,rgba(0, 0, 0, .95));
    transition:all .5s ease-in-out;
}
.dark-filter img{
    max-width: 64px;
    max-height: 64px;
    transition:all .5s ease-in-out;
}

.dark-filter p{
    position: absolute;
    text-transform: uppercase;
    bottom:0px;
}
.desc{
    width: 50%;
    height: 100%;
}
.desc p{
    text-align: justify;
    line-height: 1.6;
    overflow: hidden;
    max-height: 500px;
    line-break: break-all;
}
.desc-line{
    width: 1px;
    height: 80%;
    background: #FF7F50;
    border:none;
    margin: 0% 5%;
    border-radius: 100%;
}
.photo, .desc,.hobbies{
    font-family: Arial;
    display: inline-block;
    text-align: center;
}
#contato-str{
    width: 60%;
    display: inline-block;
}
.rodape{
    font-family: Verdana;
    background: rgba(255, 127, 80, .9);
    width:100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    color: #fff;
    z-index:0;
    position: static;
}
.rodape-up .rodape-down{
    width: 70%;
    text-align: center;
}
.rodape-up{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-break: break-all;
}
.rodape-up a{
    margin: 0% 5%
}
#rights{
    margin:15px;
}
.portifolio_content{
  margin-top: 25px;
}
.card-port img{
  width: 100%;

}
.item{
  display: inline-block;
  margin: 30px 40px;
  transition: all .4s ease-in-out;
  filter: grayscale(1);
}
.item a{
  color: #FF7F50;
  text-decoration: none;
}

.item:hover{
  filter: grayscale(0);
  transform: scale(1.04);
  box-shadow: 0px 0px 10px #ccc;
  border-color: #FF7F50;
}
/* .card_title:hover{
  background: rgba(0, 0, 0, .8);
  color: #fff;
} */
.card-port{
  width: 500px;
  border:1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
}
.card_title{
  border-top:1px solid #ccc;
  padding:10px;
  transition: all .2s ease-in-out;
}
@-webkit-keyframes circleBounce {
    0% {-webkit-transform: scale(0.9); opacity: 0;}
    20% {opacity: 0.5;}
    50% {opacity: 1;}
    80% {opacity: 0.5;}
    100% {-webkit-transform: scale(1.1); opacity:0;}
  }



@media screen and (max-width:747px){
    #description{
        display: inline-block;
    }
    .photo{
        height: 65% !important;
        border-radius: 5%;
        top: 0px;
        width: 100%;
        position: relative;
    }
    .dark-filter{
        border-radius: 5%;
    }
    .desc{
        width: 100%;
    }
    .desc-line {
        height: 1px;
        width: 80%;
        margin: 25px;
    }
}
